$bgRed: #BF0D00;
$lightRed: #FF1101;
$darkRed: #800800;
$gray: #D4D4D4;


*,
html,
body,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: $bgRed;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}

.menu{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 35px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu::before{
    width: 100%;
    height: 108px;
    background-color: $gray;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left:0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

    .crest{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;

        &__img{
            height: 50px;
            width: 45px;
            margin-right: 12px;
        }
        &__text{
            display: flex;
            flex-direction: column;
            align-content: center;            
            

            h1{
                font-size: 1rem;
                font-weight: 700; 
            }
            span{
                font-size: 0.65rem;
                
            }
        }
    }

    .nav{
        display: flex;
        align-items: center;
    }

    .hamburger{
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;
        z-index: 10;
        display: none;
        
    }

    .hamburger__box{
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    @mixin hamburger-line{
        width: 100%;
        height: 3px;
        background-color: $gray;
        position: absolute;
    }

    .hamburger__inner{
        @include hamburger-line;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .3s .1s ease-in-out;

    }

    .hamburger__inner::before,
    .hamburger__inner::after,{
        content: '';
        @include hamburger-line;
        padding:0;
        border:0;
        margin:0;
        left: 0;
        top: 50%;
        transition: transform .3s .2s ease-in-out;
        
    }

    .hamburger__inner::before{
        top:-10px;
    }

    .hamburger__inner::after{
        top:10px;
    }
    
    .hamburger--active .hamburger__inner{
            background-color: transparent;
    }

    .hamburger--active .hamburger__inner::before{
        transform: translateY(10px) rotate(-45deg);
    }

    .hamburger--active .hamburger__inner::after{
        transform: translateY(-10px) rotate(45deg);
    }

    
    .nav-list{
        display: flex;
        justify-content: space-around;

        li{
            list-style: none;
            padding: 30px;

            a{
                text-decoration: none;
                color: #000000;
                font-weight: 700;
                font-size: 0.75rem;
            }
        }
    }

    @media screen and (max-width:768px){
        .hamburger{
            display: block;
        }

        .nav-list{
            flex-direction: column;
            position: absolute;
            background-color: rgba(0,0,0,0.95);
            right: 0;
            top: 0;
            width: 60%;
            height: 100vh;
            padding: 90px 30px;
            justify-content: flex-start;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;

            
            li{
                margin: 15px;
                
                a{
                    color: #ffffff;
                    font-size: 0.7rem;
                    font-weight: 400;
                }
            }
        }

        .nav-list--active{
            transform: translateX(0%);
        }
    }


    

    
    
